:root {
  --dark: rgb(54, 54, 54);
  --light: rgb(169, 157, 157);
}

body {
  background-color: var(--dark);
  color: rgb(201, 197, 197);
}

p {
  font-size: 2em;
}

.calcContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.screen {
  background-color: black;
  border-radius: 10px;
  height: 70vh;
  width: 48vw;
}

.keypad {
  background-color: rgb(169, 157, 157);
  border-radius: 10px;
  color: var(--dark);
  min-height: 70vh;
  width: 48vw;
}

.keyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.key {
  cursor: pointer;
  background-color: rgb(214, 199, 199);
  color: var(--dark);
  font-size: .7em;
  border: 2px solid var(--dark);
  border-radius: 2px;
  text-align: center;
  width: 75px;
  height: 75px;
}

.key:hover {
  background-color: rgb(207, 181, 13);
}